body{
    padding: 0;
    margin: 0;
}

.bg{
    background-image: url('../img/img.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
}

.head{
    text-align: center;
    padding-top: 3rem;
}

.form{
    border: 2px solid black;
    padding: 2px;
    padding-left: 30rem;
}
.input{
    border-radius: 20px;
    width: 30rem;
    padding: 10px;
    background: transparent;
    text-decoration: none;
    border: 2px solid black;
}

.btn{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    width: 5rem;
    background: #1a1a1a;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.card{
    background: rgb(192,131,123);
    background: linear-gradient(22deg, rgba(192,131,123,1) 0%, rgba(94,96,136,1) 100%);

    margin-top: 5rem;
    text-align: center;
    width: 500px;
    height: 250px;
    color: black;
    margin-left: 67vh ;
    padding: 5px;
    border-radius: 20px;
}